{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'timemanagment/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <main>
        <header>
             <img src="static/timemanagment/img/logo.png">
          <div class="wrapper site-header__wrapper">
            {% if user.is_authenticated %}
                  <a href="{% url 'users:profile' %}" class="btn btn-outline-primary me-2" role="button">{{user.username}}</a>
                  <form style="display:inline-block" method="post" action="{% url 'users:logout' %}">{% csrf_token %}<button type="submit" class="btn btn-outline-primary me-2">Выйти</button></form>
            {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-outline-primary me-2" role="button">Войти</a>
                <a href="{% url 'users:register' %}" class="btn btn-outline-primary me-2" role="button">Регистрация</a>
            {% endif %}
          </div>
        </header>
        {% block body %}
        {% endblock %}
        </ul>
			<div class="clear"></div>
		</div>
        <footer>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
               <li><a href="{% url 'home' %}" class="nav-link px-2"><button type="button" class="btn btn-primary btn-circle"><i class="bi bi-calendar-event"></i></button></a></li>
               <li><a href="{% url 'task' %}" class="nav-link px-2"><button type="button" class="btn btn-primary btn-circle"><i class="bi bi-list-task"></i></button></a></li>
            </ul>
        </footer>
    </main>
</body>
</html>